@font-face {
  font-family: "akrobat";
  font-style: normal;

  src: url("fonts/Akrobat-Bold.woff") format("otf");
}

@font-face {
  font-family: "vds";
  font-style: normal;

  src: url("fonts/VDS_Bold_New.woff") format("ttf");
}
