@import "reset.css";
@import "fonts.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x:hidden;

  margin-right: 60px;
  margin-left: 60px;

  color: white;
  background-color: black;
}

.header1 {
  display: flex;
  flex-direction: column;

  margin-top: 25px;

  align-items: flex-start;
  justify-content: flex-start;
}

h1 {
  z-index: 2;

  font-family:"Akrobat-Black";
  font-size: 145px;
  line-height: 137px;
}

.pain {
  margin-top: -135px;
  margin-left: 700px;

  word-spacing: 50px;
}

.shapesforheader {
  overflow-x: hidden;

  width: 100vw;
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
}

.star_1 {
  position: absolute;
   z-index: 3;
   top: -64vw;
   left: 0;

  width: 211vw;
}

.star_2 {
   position: absolute;
   z-index: 1;
   top: 22vw;
   left: -51vw;

   width: 159vw;
}
.star_3 {
   position: absolute;
   top: 37vw;
   left: 102vw;

   width: 107vw;
}
.star_4 {
   position: absolute;
   top: 102vw;
   left: 15vw;

   width: 99vw;
}
.star_5 {
    position: absolute;
    top: 155vw;
    left: 67vw;

  width: 61vw;
}
.star_6 {
position: absolute;
top: 116vw;
left: -21vw;

  width: 84vw;
}
.star_7 {
position: absolute;
top: 164vw;
left: 90vw;

  width: 80vw;
}
.star_8 {
position: absolute;
  z-index: 20;
top: 203vw;
left: 65vw;

width: 66vw;
}
.star_9 {
position: absolute;
top: 301vw;
left: 17vw;

  width: 119vw;
}

main {
    margin-top: 91vw;
}


.text {
   margin-top: -450px;
}

h2 {
   font-family:"Akrobat-Bold";
   font-size: 80px;
   line-height: 100px;
}

p {
   margin-top: 20px;

   font-family:"Akrobat-SemiBold";
   font-size: 25px;
   line-height: 45px;
}

.article {
   display: flex;
   flex-direction: column;
}

.article1 {
   width: 46vw;

}

.article2 {
   margin-top: 170px;
   margin-right: 710px;
}

.article3 {
   margin-top: 70px;
   margin-right: 710px;
}

.poster {
   position: relative;

   display: flex;
   flex-direction: column;

   margin-top: -890px;
   margin-left: 710px;
 }

h3 {
   font-family:"Akrobat-Black";
   font-size: 65px;
   line-height: 80px;
}

.button {
   display: flex;

   margin-top: -150px;
   margin-bottom: 200px;

   justify-content: center;
   align-items: center;
}

.button a {
   display: inline-block;

   margin: 50px 60px;
   padding: 50px 150px;

   transition: .5s;
   text-decoration: none;
   letter-spacing: 2px;
   text-transform: uppercase;

   color: white;
   border-radius: 10px;
   outline: none;
   background-image: linear-gradient(to right, #bd002f 0%, #df4e22 51%, #ff9715 100%);
   background-size: 200% auto;
   box-shadow: 0 0 20px rgba(0,0,0,.1);

   font-family:"Akrobat-Black";
   font-size: 40px;
}

.button a:hover {
  background-position: right center;
}

@media all and (max-width: 320px) {

  h1 {
     margin-left: -10vw;

     font-size: 66vw;
     line-height: 61vw;
  }

  .header1 {
     width: 20vw;
     height: 257vw;
  }

  .pain {
     margin-top: 10px;
     margin-right: 670px;

     word-spacing: 50px;

  }
  .shape1 {
     margin-top: -1600px;
     margin-left: -50px;
  }

  .shape1 img {
     width: 1500px;
  }
.text {
    width: 50%
  }
}

@media all and (max-width: 1441px) {
  .header1  {
    margin-top: 9vw;
    margin-left: -6vw;
  }

  body {
    overflow-x:hidden;

    margin-top: 100px;
    margin-left: 200px;
  }

  .pain {
    margin-top: -18vw;
    margin-left: 82vw;
  }

  h1 {
    margin-left: -5vw;

    font-family: "Akrobat-Black";
    font-size: 19vw;
    line-height: 18vw;
  }

  h2 {
    font-family:"Akrobat-Bold";
  }

  p {
    font-family:"Akrobat-SemiBold";
    font-size: 3vw;
    line-height: 4vw;
  }

  h3 {
    font-family:"Akrobat-Black";
  }

  .shapesforheader {
    margin-top: 28vw;
  }

  .shape1{
    position: relative;
    z-index: 3;

    margin-top: -136vw;
    margin-left: -1vw;
  }

  .article1 {
    width: 46vw;
    margin-top: -111vw;
    margin-left: 78vw;
  }

  .article2 {
    width: 54vw;
    margin-top: 13vw;
    margin-left: -4vw;
  }

  .article3 {
    width: 54vw;
    margin-top: 9vw;
    margin-left: -4vw;
  }

  .button {
    display: flex;

    width: 100vw;
    margin-top: 12vw;
    margin-left: 13vw;

    justify-content: center;
    align-items: center;
   }

  .poster {
    position: relative;

    width: 38vw;
    margin-top: -85vw;
    margin-left: 81vw;
  }

  .line {
    width: 45vw;
    height: 8vw;
  }
}
